{% extends 'base.html.twig' %}

{% block title %}Edit Activity{% endblock %}

{% block body %}
    <h1>Edit Activity</h1>

    {{ include('Activity/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('Activity_index') }}">back to list</a>

    {{ include('Activity/_delete_form.html.twig') }}
{% endblock %}
